    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="d-flex justify-content-between">
                        <a href="./index.html" class="banner-top-list">Home</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./home-page-2.html" class="banner-top-list">car</a>
                        <a href="#" class="banner-top-list">/</a>
                        <a href="./listing-page.html" class="banner-top-list">listview</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-page-banner">
        <div class="container">
            <form class="row gx-1">
                <div class="col-lg-3 col-md-6 col-12">
                    <select name="" class="form-control search-form-field">
                        <option value="Karachi">All City</option>
                        <option value="Karachi">Karachi</option>
                        <option value="Karachi">Hydrabad</option>
                        <option value="Karachi">Sukkur</option>
                        <option value="Karachi">Lahore</option>
                        <option value="Karachi">Islamabad</option>
                        <option value="Karachi">Quetta</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <select name="" class="form-control search-form-field">
                        <option value="Karachi">All Categories</option>
                        <option value="Karachi">Appliances</option>
                        <option value="Karachi">Car</option>
                        <option value="Karachi">Furniture</option>
                        <option value="Karachi">Bikes</option>
                        <option value="Karachi">Entertainment</option>
                        <option value="Karachi">Fashion</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <input type="text" placeholder="Search in all city" class="form-control search-form-field">
                </div>

                <div class="col-lg-2 col-md-4 col-12">
                    <button type="button" class="btn-search">
                        <i class="fas fa-search"></i>
                        Search
                    </button>
                   
                </div>
            </form>
        </div> 
    </section>
    <div class="list-of-categories-blocks second-menu">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./index.html">
                            <img src="./images/house-img.png" alt="" class="mx-auto">
                            <span>Real Estate</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./home-page-2.html">
                            <img src="./images/tabs-img.png" alt="" class="mx-auto">
                            <span>Mobile&Tabs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./listing-page.html">
                            <img src="./images/services.png" alt="" class="mx-auto">
                            <span>Services</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./owner-pf.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Electrinics</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./plan.html">
                            <img src="./images/pets-img.png" alt="" class="mx-auto">
                            <span>Pats&PetCare</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./setting.html">
                            <img src="./images/fashion-img.png" alt="" class="mx-auto">
                            <span>Fashion</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./car-list.html">
                            <img src="./images/entern-img.png" alt="" class="mx-auto">
                            <span>Entertainment</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./messege.html">
                            <img src="./images/events-img.png" alt="" class="mx-auto">
                            <span>Event</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./contact-us.html">
                            <img src="./images/jobs-img.png" alt="" class="mx-auto">
                            <span>Jobs</span> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-12">
                    <div class="category-block">
                        <a href="./register.html">
                            <img src="./images/cars-bikes-img.png" alt="" class="mx-auto">
                            <span>Car & Bikes</span> 
                        </a>
                    </div>
                </div>
            <div class="close-icon"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-12">
                <select name="" id="home-page-select-area">
                    <option value="Karachi">Brand Name</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <select name="" id="home-page-select-area">
                    <option value="Karachi">Price Range</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <select name="" id="home-page-select-area">
                    <option value="Karachi">Fuel type</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <select name="" id="home-page-select-area">
                    <option value="Karachi">More Details</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                    <option value="Karachi">karachi</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">&nbsp;</div>
            <div class="col-lg-2">
            <div class="d-flex mt-4">
                <a href="#" class="view-tag">View By:</a>
                <div class="icon-hover"></div>
                <div class="icon-hover"></div>
            </div> 

            </div>
            <div class="col-lg-4">
                <div class="d-flex mt-4">
                    <a href="#" class="view-tag">Sort By:</a>
                    <select name="" id="more-select">
                        <option value="More Revelent">More Revelent</option>
                        <option value="More Revelent">More Revelent</option>
                        <option value="More Revelent">More Revelent</option>
                        <option value="More Revelent">More Revelent</option>
                        <option value="More Revelent">More Revelent</option>
                        <option value="More Revelent">More Revelent</option>
                        <option value="More Revelent">More Revelent</option>
                    </select>
                </div> 
    
                </div>
        </div>
        <div class="row">
        <div class="col-lg-9">
          <% @posts.each do |post| %>
                  <div class="hover-box">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="main-img-area">
                            <% if post.images.attached? %>
                                <%= image_tag post.images[0]  %>
                            <% end %>
                             </div> 
                        </div>
                        <div class="col-lg-7">
                            <div class="d-flex justify-content-between">
                                <h2 class="hover-box-hd"><%= post.title %></h2>
                                <h3 class="hover-hd-2"><%= post.price %></h3>
                                </div>
                            <div class="d-flex justify-content-between">
                                <h2 class="hover-hd-7"><%= post.model %></h2>
                                <h2 class="hover-hd-4"><%= post.mfg %></h2>
                            </div>
                                <h2 class="hover-hd-4"><%= post.km %></h2>
                            <div class="justify-content-between hover-area">
                                <div>
                                    <h2 class="hover-hd-8"><%= post.desc %></h2>
                                </div>
                                
                                <%= show_dlt_btn(current_user, post) %>
                                <%= link_to  "View", post_path(post), class:"btn btn-primary" %>
                                <%= show_edit_btn(current_user, post) %>
                            </div>
                        </div>
                    </div>    
                </div>
            <% end %>
        </div>
          <div class="col-lg-3">
                <div class="listview-box mt-4">
                    <div class="d-flex">
                        <div class="red-box text-center">
                            <img class="img-fluid" src="./images/logo-sec.png" alt="">
                            <h2 class="red-box-hd">Innovation <br>
                                That Excites</h2>
                        </div>
                        <div>
                            <h2 class="listview-box-hd">Terrano</h2>
                            <h2 class="listview-box-hd-1">$ 48.07</h2>
                        </div>
                    </div>
                    <h2 class="listview-box-hd-2 text-center">Command the Road & All <br>
                        tHE aTTENTION</h2>
                        <div>
                            <img class="img-fluid" src="./images/car-img-3.png" alt="">
                        </div>
                        <div class="text-center">
                            <h2 class="text-center listview-box-hd-3">For a test Drive, Give a missed call</h2>
                            <a href="#" class="phone-no">To (1) 404-882-2622</a>
                            <div class="listview-sep"></div>
                            <a href="#" class="link-tag">www.nissen.ac.in</a>
                            <div class="d-flex justify-content-between">
                                <div class="listview-sep-1"></div>
                                <h2 class="sep-hd">Powered By</h2>
                                <div class="listview-sep-1"></div>
                            </div>
                            <h2 class="listview-hd">Finance</h2>
                            <h2 class="listview-hd-1">*Terms & Conditions Apply.</h2>
                        </div>
                </div>
                <div class="listview-box-1 mb-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="listview-box-1-link-tag">www.jaguar.co.uk/fleet</a>
                        <div>
                            <img src="./images/puma-logo.png" alt="">
                        </div>
                    </div>
                    <h2 class="listview-hd-2">The jaguar Business Range <br>
                        From 129 G/Km</h2>
                        <div class="text-center mt-3">
                            <img src="./images/liist-view-box-img.png" alt="">
                            <h2 class="listview-hd-3">*Terms & Conditions Apply.</h2>
                        </div>
                </div>
            </div>
        </div>    
    </div>